*{
    box-sizing: border-box;
    margin: auto;
}
body {
    font-family: 'Lato', sans-serif;  
}
.header {
    max-width: 1200px;
}
.nav-container {
    background-color: 0557FF;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 132px;
    color: white;
}
.nav-items {
    display: flex;
    list-style: none;
    margin-left: 194px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.22px;
}
.item {
     margin-right: 48px;   
}
.logo {
    display: flex;
}
.logo-name {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.24px;
    margin-left: 12px;
}
.cta-nav {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.24px;
    color: white;
    background-color: 0557FF;
    border: 1px solid white;
    border-radius: 1.5px;
    padding: 21px 30px;
    cursor: pointer;
}